<div class="All">
  <nav class="menu navbar navbar-expand-lg navbar-dark bg-primary flex-column">
    <div class="profile d-flex align-items-center p-3">
      <div class="img-box">
        <img src="img/IMG_٢٠٢٣١٢١٩_١٦٢٣٣٤.jpg" alt="">
      </div> 
      <h2 class="myname">Eng. Abdulraouf</h2>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav flex-column w-100">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/patients" routerLinkActive="active">
            <i class="fas fa-user-injured"></i> Patients
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/doctors" routerLinkActive="active">
            <i class="fas fa-user-md"></i> Doctors
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rooms" routerLinkActive="active">
            <i class="fas fa-door-open"></i> Rooms
          </a>
        </li>
        <li class="nav-item mt-auto">
          <a class="nav-link text-danger" routerLink="/logout" routerLinkActive="active">
            <i class="fas fa-sign-out-alt"></i> Back To Dashboard
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="content flex-grow-1">
    <!-- هنا يتم إدراج محتوى لوحة التحكم -->
    <div class="title-info">
      <h1>Dashboard</h1>
    </div>

    <section class="data">
      <router-outlet></router-outlet>
    </section>
  </div>
</div>